/* ========================================Global styles */
:root {
	--main-color-light: #CDDDE2;
	--label-color: #1A1818;

	--main-bg: #EEF5F7;
	--button-bg: #CDDDE2;
	--border-gray: #9BAAAE;
	--border: #C4C4C4;
	--main-btn-bg: #EC3C24;
}


* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat;
	font-weight: 400;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 0px transparent;
	outline: transparent;
	cursor: pointer;
}

/* ========================================Main styles */

.header-top {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(5, 5, 5);
	color: var(--main-color-light);

	&.hide {
		height: 0;
		visibility: hidden;
		padding: 0;
	}

	&__text {
		font-weight: 500;
		font-size: 10px;
		line-height: 13px;
		text-transform: capitalize;
		margin-left: calc(100vw - 88%);
		margin-right: 10px;
	}

	&__title {
		flex: 0 0 auto;
		font-weight: 700;
		font-size: 15px;
		line-height: 22px;
		text-transform: uppercase;
		margin-left: auto;
		margin-right: 21px;
	}

	&__btn {
		margin-right: 21px;
	}

}

.header-bot {
	height: 90px;
	padding: 0 30px 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-bg);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
	position: relative;

	&__search {
		max-width: 311px;
		width: 100%;
	}

	&__link {
		font-size: 12px;
		font-weight: 500;
		line-height: 16px;
		color: var(--label-color);
	}

	&__link+a {
		margin-left: 9px;
	}

	&__input {
		display: block;
		width: 100%;
		height: 36px;
		padding: 10px;
		margin-top: 10px;
		border: 1.2px solid var(--border-gray);
		border-radius: 6px;
		font-size: 16px;
	}

	&__btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 127px;
		width: 100%;
		height: 44px;
		margin-left: 15px;
		padding: 11px;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		background-color: var(--button-bg);
		border-radius: 4px;
	}

	&__cart {
		margin-left: auto;
		position: relative;

		&::after {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: var(--main-btn-bg);
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
}

.header-burger {
	display: none;
	width: 45px;
	height: 40px;
	margin-left: 15px;
	position: relative;
	z-index: 999;

	&::before,
	&::after,
	span {
		content: '';
		width: 45px;
		height: 5px;
		background-color: var(--label-color);
		position: absolute;
		left: 0;
		top: 0;
	}

	&::after {
		bottom: 0;
		top: auto;
	}

	span {
		top: 50%;
		transform: translate(0, -50%);
	}

	&.active {
		z-index: 99;

		span {
			display: none;
		}

		&::before,
		&::after {
			top: 50%;
			transform: translate(0, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-45deg);
			bottom: auto;
		}
	}
}

.header-popup {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 320px;
	height: 280px;
	padding: 20px;
	background-color: var(--main-bg);
	color: var(--label-color);
	position: absolute;
	top: 65px;
	right: 20px;
	z-index: -1;
	visibility: hidden;

	&.show {
		z-index: 99;
		visibility: visible;
	}

	&__btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 44px;
		padding: 0 20px;
		font-weight: 700;
		font-size: 15px;
	}

	&__btn+button {
		margin-top: 5px;
	}

	&__login,
	&__register {
		justify-content: center;
		margin-top: 43px !important;
		padding: 0;
		background-color: var(--main-btn-bg);
		border-radius: 6px;
		color: #fff;
	}

	&__register {
		margin-top: 10px !important;
		background-color: var(--button-bg);
		color: var(--label-color);
	}
}

.header-nav {
	height: 60px;
	padding: 0 30px 0 40px;
	border-bottom: 1px solid var(--border);

	&__list {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__line+li {
		margin-left: 50px;
	}

	&__link {
		font-weight: 700;
		font-size: 15px;
		color: var(--label-color);
	}

	&__btn {
		display: none;
	}
}

.main {
	padding: 15px 80px 40px 50px;

	&__inner {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}
}

.breadcrumbs {
	&__text {
		font-weight: 500;
		font-size: 13px;
		color: var(--border-gray);
	}
}

.main-filter {
	max-width: 200px;
	width: 100%;

	&__btn {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		padding: 15px;
		background: var(--main-bg);
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
		border-radius: 4px;

		&.active {
			background-color: var(--button-bg);
		}
	}

	&__text {
		width: 100%;
		font-weight: 600;
		font-size: 15px;
		color: var(--label-color);
	}

	&__logout {
		background-color: transparent;
		box-shadow: none;
		color: var(--border-gray);

		.main-filter__text {
			color: var(--border-gray);
		}
	}
}

.main-info {
	width: 100%;
	margin-left: 67px;

	&__user {
		color: var(--label-color);
	}

	&__title {
		margin: 0;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}

	&__email {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
	}

	&__tabs {
		margin-top: 13px;
		text-transform: uppercase;
	}
}

.main-tab {
	padding-bottom: 30px;

	&__name {
		height: 34px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
		padding-right: 27px;
		border-bottom: 1px solid var(--border-gray);
		font-weight: 600;
		font-size: 15px;
		line-height: 27px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
		padding-right: 25px;
	}

	&__text {
		width: 100%;
		margin-left: 5px;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 15px;
		color: var(--label-color);
	}

	&__icon {
		margin-left: 35px;
	}

	&__button {
		font-weight: 600;
		font-size: 15px;
		line-height: 27px;
		color: #FF725F;
	}
}

/* ========================================  Media */

@media (max-width: 768px) {
	.header-top {
		height: auto;
		min-height: fit-content;
		padding: 5px 0;
	}

	.header-bot {
		padding: 0 20px;

		&__search {
			margin-right: 20px;
		}

		&__link {
			display: block;

		}

		&__link+a {
			margin: 0;
		}

		&__btn {
			max-width: 60px;
			justify-content: center;
		}

		&__btn-text {
			display: none;
		}
	}

	.header-burger {
		display: block;
	}

	.header-nav {
		height: 0;
		border-color: transparent;
		position: relative;
		transition: all linear .5s;

		&__list {
			position: absolute;
			flex-direction: column;
			justify-content: start;
			left: -100%;
			top: -90px;
			height: 100vh;
			visibility: hidden;
			background-color: #fff;
			padding-top: 100px;
			transition: all ease .6s;

			&.show {
				left: 0;
				width: 100%;
				visibility: visible;
				overflow-y: auto;
				.header-nav__btn{
					display: flex;
				}
			}
		}

		&__line+li {
			margin-left: 0;
			margin-top: 50px;
		}

		&__btn {
			display: flex;
			justify-content: space-between;
			max-width: 127px;
			margin: 0;
			margin-top: 50px;
		}

		&__btn-text {
			display: block;
		}
	}

	.main {
		padding: 15px;
	}

	.main-info {
		margin-left: 30px;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: 58px 0 17px 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: -1;
	visibility: hidden;
	overflow-y: auto;

	&.show {
		z-index: 999;
		visibility: visible;
	}
}

.modal-form {
	display: flex;
	flex-direction: column;
	max-width: 785px;
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	padding: 71px 10px 53px 10px;
	background-color: #fff;

	&__inner {
		max-width: 570px;
		margin: 0 auto;
	}

	&__input {
		width: 100%;
		height: 40px;
		border: 1px solid var(--border-gray);
		border-radius: 6px;
	}

	&__name {
		display: flex;
		justify-content: space-between;

		label+label {
			margin-left: 10px;
		}
	}

	&__label {
		max-width: 275px;
		width: 100%;
		display: block;
		margin-top: 21px;
	}

	&__text {
		display: block;
		font-size: 16px;
		line-height: 18px;
		color: var(--label-color);

		&::after {
			content: '*';
			margin-left: 3px;
		}
	}

	&__adress {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		label:nth-child(even) {
			margin-left: 10px;
		}
	}

	&__btn {
		display: block;
		height: 44px;
		max-width: 275px;
		width: 100%;
		margin: 0 auto;
		background-color: var(--main-btn-bg);
		font-size: 15px;
		font-weight: 700;
		border-radius: 3px;
		color: #fff;
		margin-top: 17px;
	}
}

@media(max-width: 600px) {
	.header-bot {
		&__btn {
			display: none;
		}
	}

	.header-burger {
		margin-left: 0;
	}

	.main {
		&__inner {
			flex-direction: column;
			align-items: center;
			margin-top: 15px;
		}
	}

	.main-filter {
		max-width: 290px;
	}

	.modal-form {
		padding: 30px;

		&__name {
			flex-wrap: wrap;
		}

		&__label {
			max-width: none;
			margin-left: 0 !important;
		}
	}
}

@media(max-width: 380px) {
	.header-bot {
		&__search {
			max-width: 255px;
		}
	}

}