/* ========================================Global styles */
:root {
  --main-color-light: #CDDDE2;
  --label-color: #1A1818;
  --main-bg: #EEF5F7;
  --button-bg: #CDDDE2;
  --border-gray: #9BAAAE;
  --border: #C4C4C4; }

* {
  box-sizing: border-box; }

body {
  font-family: Montserrat;
  font-weight: 400;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0px transparent;
  outline: transparent;
  cursor: pointer; }

/* ========================================Main styles */
.header-top {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #050505;
  color: var(--main-color-light); }
  .header-top__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    text-transform: capitalize;
    margin-left: calc(100vw - 88%);
    margin-right: 10px; }
  .header-top__title {
    flex: 0 0 auto;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 21px; }
  .header-top__btn {
    margin-right: 21px; }

.header-bot {
  height: 90px;
  padding: 0 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); }
  .header-bot__search {
    max-width: 311px;
    width: 100%; }
  .header-bot__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--label-color); }
  .header-bot__link + a {
    margin-left: 9px; }
  .header-bot__input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 10px;
    margin-top: 10px;
    border: 1.2px solid var(--border-gray);
    border-radius: 6px;
    font-size: 16px; }
  .header-bot__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 127px;
    width: 100%;
    height: 44px;
    margin-left: 15px;
    padding: 11px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--button-bg);
    border-radius: 4px; }
  .header-bot__cart {
    margin-left: auto;
    position: relative; }
    .header-bot__cart::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #EC3C24;
      position: absolute;
      top: 5px;
      right: 5px; }

.header-burger {
  display: none;
  width: 45px;
  height: 40px;
  margin-left: 15px;
  position: relative; }
  .header-burger::before, .header-burger::after,
  .header-burger span {
    content: '';
    width: 45px;
    height: 5px;
    background-color: var(--label-color);
    position: absolute;
    left: 0;
    top: 0; }
  .header-burger::after {
    bottom: 0;
    top: auto; }
  .header-burger span {
    top: 50%;
    transform: translate(0, -50%); }
  .header-burger.active {
    z-index: 99; }
    .header-burger.active span {
      display: none; }
    .header-burger.active::before, .header-burger.active::after {
      top: 50%;
      transform: translate(0, -50%) rotate(45deg); }
    .header-burger.active::after {
      transform: translate(0, -50%) rotate(-45deg);
      bottom: auto; }

.header-nav {
  height: 60px;
  padding: 0 30px 0 40px;
  border-bottom: 1px solid var(--border); }
  .header-nav__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header-nav__line + li {
    margin-left: 50px; }
  .header-nav__link {
    font-weight: 700;
    font-size: 15px;
    color: var(--label-color); }
  .header-nav__btn {
    display: none; }

/* ========================================  Media */
@media (max-width: 768px) {
  .header-top {
    height: auto;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 5px 0; }
  .header-bot {
    padding: 0 20px; }
    .header-bot__search {
      margin-right: 20px; }
    .header-bot__link {
      display: block; }
    .header-bot__link + a {
      margin: 0; }
    .header-bot__btn {
      max-width: 60px;
      justify-content: center; }
    .header-bot__btn-text {
      display: none; }
  .header-burger {
    display: block; }
  .header-nav {
    height: 0;
    border-color: transparent;
    position: relative;
    transition: all linear .5s; }
    .header-nav__list {
      position: absolute;
      flex-direction: column;
      justify-content: start;
      left: -100%;
      top: -90px;
      height: 100vh;
      background-color: #fff;
      padding-top: 100px; }
    .header-nav__line + li {
      margin-left: 0;
      margin-top: 50px; }
    .header-nav__btn {
      display: flex;
      justify-content: space-between;
      max-width: 127px;
      margin: 0;
      margin-top: 50px; }
    .header-nav__btn-text {
      display: block; } }

@media (max-width: 600px) {
  .header-bot__btn {
    display: none; }
  .header-burger {
    margin-left: 0; } }

@media (max-width: 380px) {
  .header-bot__search {
    max-width: 255px; } }
